<!DOCTYPE html>
<html lang="ru" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{% block title %}-{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
</head>
<body>
{% include 'main_nav.html' %}
<main>
    <div class="container pt-2">
        {% block content %}{% endblock %}
    </div>
</main>
{% include 'footer.html' %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>