{% extends 'guest_layout.html' %}

{% block title %}Подтверждение сброса пароля{% endblock %}

{% block content %}
<h1 class="mb-4 text-center">Назначьте новый пароль</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_new_password1" class="form-label">Новый пароль</label>
            <input type="password" id="id_new_password1" name="new_password1" required class="form-control">
        </div>
        <div class="mb-3">
            <label for="id_new_password2" class="form-label">Повторите новый пароль</label>
            <input type="password" id="id_new_password2" name="new_password2" required class="form-control">
        </div>
        <button type="submit" class="btn btn-success w-100 mt-3">Сохранить пароль</button>
    </form>
{% endblock %}